{% extends 'base.html.twig' %}

{% block title %}Log in{% endblock %}

{% block body %}
<div class="container" style="width: 100%; overflow-y: scroll;">
    <div class="row" style="justify-content: center;">
        <form method="post">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            {% if app.user %}
                <h1 >Hello {{ app.user.username }}.</h1>
                <div class="text-center">
                    <div class="mt-4">You are logged in.</div>
                    <a href="{{ path('app_logout') }}" class="button btn btn-lg btn-primary" style="margin-top: 5rem;">Logout</a>
                    
                </div>
                
            {% else %}
                <h1 class="mb-3">Please sign in</h1>
                <div class="row" style="justify-content: center;">
                    <div class="col-8 text-center">
                        <label for="inputEmail">Email</label>
                        <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control mb-2" autocomplete="email" required autofocus>
                        <label for="inputPassword">Password</label>
                        <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

                        <input type="hidden" name="_csrf_token"
                            value="{{ csrf_token('authenticate') }}"
                        >
                        <button class="btn btn-lg btn-primary" type="submit" style="margin-top: 3rem;">
                            Sign in
                        </button>
                        <div style="margin-top: 3rem;">You are already registered ?</div>
                        <a href="/register" class="button btn btn-dark" style="margin-top: 0.5rem;">Register</a>
                    </div>
                </div>
            {% endif %}

            

            {#
                Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                See https://symfony.com/doc/current/security/remember_me.html

                <div class="checkbox mb-3">
                    <label>
                        <input type="checkbox" name="_remember_me"> Remember me
                    </label>
                </div>
            #}

            
        </form>
    </div>
</div>
{% endblock %}
