{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
<div class="container" style="overflow-y: scroll;">
    <div class="row" style="justify-content: center;">
        {% for flashError in app.flashes('verify_email_error') %}
            <div class="alert alert-danger" role="alert">{{ flashError }}</div>
        {% endfor %}

        <h1 style="margin-top: 10vh;margin-bottom: 2vh;">Register</h1>
        <div class="col-8 text-center">
            {{ form_start(registrationForm) }}
                 {{ form_row(registrationForm.username) }}
                 {{ form_row(registrationForm.firstName) }}
                {{ form_row(registrationForm.lastName) }}
                {{ form_row(registrationForm.email) }}
                {{ form_row(registrationForm.plainPassword, {
                    label: 'Password'
                }) }}
                {{ form_row(registrationForm.agreeTerms) }}

                <button style="margin-top: 1rem;" class="btn btn-lg btn-primary" type="submit" class="btn">Register</button>
            {{ form_end(registrationForm) }}
            <div style="margin-top: 3rem;">You are not registered ?</div>
            <a href="/login" class="button btn btn-dark" style="margin-top: 0.5rem;margin-bottom: 0.5rem;">Login</a>
        </div>
    </div>
</div>
{% endblock %}
